.card-block {
    background: #d1d0d7;
    padding: 5px;
}

.card {
    border-width: 2px;
    border-color: #000000;
    margin-bottom: 5%
}

.control-buttons {
    margin-bottom: 5px;
}

.group-title {
    padding-left: 15px;
}
